#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.userBtn {
 font-size: 18px;
 padding: 20px 40px;
 border: none; 
 border-radius: 10px;
 background-color: #fff;
 cursor: pointer;
 color: black;
}